.navbar-default .navbar-nav>li>a.active {
    color: red;
    border-bottom: 2px solid red;
}

.navbar-default {
    background-color: transparent;
    border-bottom:2px solid lightgray;
    height: 80px;
}