<!DOCTYPE html>
<html lang="en" ng-app="redirectURLApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>OvrPoc</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" href="app.css">
</head>
<body>
  <nav class="navbar navbar-default" ng-controller="NavigationController">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href="#overview">Overview</a></li>
        <li><a href="#billing" ng-click="activeTab = 'billing'" ng-class="{'active': activeTab === 'billing'}">Billing and Payment</a></li>
        <li><a href="#services" ng-click="activeTab = 'services'" ng-class="{'active': activeTab === 'services'}">Services</a></li>
      </ul>
    </div>
  </nav>
    <ng-view></ng-view>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-cookies.js"></script>
  <script src="app.js"></script>
</body>
</html>
